@media only screen and (max-width:440px){
	#MobMain{
		margin-top: 20px;
		line-height: 50px;
		margin-left: 30px;
		margin-right: 30px;
	}
	#buttonMainMob{
		margin-top: 50px;
	}
}
.hoverS:hover{
	border-bottom: 1px solid white;
	transition: 2s;
}
.hoverSm:hover{
	border-bottom: 1px solid black;
	transition: 1s;
}
.sp-button{
    width: 20px!important;
    height: 5px!important;
    border-radius: 0px!important;
    border-color: #fff!important;
    background-color: #fff!important;
    border-color: #fff!important;
    border: 2px solid #fff !important;

}
.sp-button .sp-selected-button {
    border-color: #fff!important;
    background-color: #ffff!important;
    
}
.sp-buttons {
    width: 100%;
    text-align: center;
    margin-top: -3%;
    border-color: #fff!important;
    
}
.sp-arrow {
    position: absolute;
    display: block;
    width: 8px!important;
    margin-right: 5%!important;
    margin-top: 23%!important;
    height: 82px!important;
    cursor: pointer;
}
.sp-horizontal .sp-previous-arrow {
    right: 150px!important;
    left: auto!important;
}
iframe{
    width: 100%!important;
}
/* three image with hover show text */
.Box{
	position:relative;
	transform-style:preserve-3d;
	perspective:800px;
	transition:1s;
}
.Box .FlipBox{ 
	transition:1s;
	transform-style:preserve-3d;
}
.Box .Front.Box .Back{
	cursor:pointer;
	transition:.5s;
}
.Box .Back{
	cursor:pointer;
    margin-top: -30%;
	transition:.5s;
	backface-visibility:hidden;
}
@media only screen and (min-width:1925px) {
	.Box .Back{ 
		margin-top: -21%; 
	}
}
.Box .Front img{
	width:100%;
	height:100%;
}
.Box .Back{
	background-color:#081a25;
	color:#fff;
	display:table;
	height: 19vh;
    opacity: 90%;
	transform:rotateY(180deg);
}
.Box .Back div{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	padding-left:20px;
	padding-right:20px;
}
.Box .Back div h3{
	font-size:16px;
	margin-top: -20px;
}
.Box .Back div p{
	font-size:x-small;
	margin-top:-2px;
}
.Box .Back div a{
	color:#fff;
	text-decoration:none;
	display:inline-block;
	margin-top:20px;
	width:120px;
	height:45px;
	background-color:#fff;
	color:#222;
	line-height:45px;
	box-shadow:0px 0px 10px rgba(0,0,0,.5);
	transition:.5s;
	font-weight:bold;
}
.Box .Back div a:hover{
	background-color:#081a25;
	color:#fff;
}
.Box:hover .FlipBox{
	transform:rotateY(180deg);
}
.Box:hover{ 
	z-index:2;
}
@media (max-width:780px){
	.Box:not(:last-child):hover{
		transform:translateY(0px);
		z-index:2;
	}
}
@media (max-width:520px){
	.Box:hover{
		transform:translateY(0px);
		z-index:2;
	}
}
@media (max-width:255px){
	.Box{
		width:100%;
	}		
}
/* parallax */
.bgimg-2, .bgimg-3 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  } 
  
  .bgimg-2{
    min-height: 1000px;
  }
  
  .bgimg-3 {
    min-height: 1000px;
  } 
  /* effects */
  .fotofullscreencontent { 
	overflow: hidden!important;
	width: 100%;  
	height: 100vh!important;
	float: none !important;
} 
@media only screen and (max-width:1023px){
	.fotofullscreencontent{
	height: auto!important;

	}
}
@media only screen and (max-width:1700px){
	.Box .Back{ 
		margin-top: -31%; 
		height: 17vh;
	}
	.Box .Back div h3{
		font-size:12px;
	}
	.Box .Back div p{
		font-size: 8px;
	}
}
.fotofullscreen {
	overflow: hidden!important; 
	-moz-animation: fixed-header infinite 30s;
	-webkit-animation: fixed-header infinite 30s;
	animation: fixed-header infinite 30s;
} 
@keyframes fixed-header {
	0% {
		-moz-transform:scale(1.0001) rotateZ(0.01deg);
		-ms-transform:scale(1.0001) rotateZ(0.01deg);
		-webkit-transform:scale(1.0001) rotateZ(0.01deg);
		transform:scale(1.0001) rotateZ(0.01deg);
	}
	50% {
		-moz-transform:scale(5) rotateZ(0.01deg);
		-ms-transform:scale(5) rotateZ(0.01deg);
		-webkit-transform:scale(5) rotateZ(0.01deg);
		transform:scale(5) rotateZ(0.01deg);
	}
	100% {
		-moz-transform:scale(1.0001) rotateZ(0.01deg);
		-ms-transform:scale(1.0001) rotateZ(0.01deg);
		-webkit-transform:scale(1.0001) rotateZ(0.01deg);
		transform:scale(1.0001) rotateZ(0.01deg);
	}
} 
.pulse:hover{
	transition: 1s; 
	background:rgba(255, 255, 255, 0.3)!important;
}
.buttonHover:hover{
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #fff5fa, 0 0 60px #f5f2f3, 0 0 70px #fffcfd;
	transition: 1s;
}
.buttonHover2:hover{
	transition: 1s;
	text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
}
.sp-image{
	width: inherit!important;
	left: 0px!important;
}
#slider-pro-3-65{
	margin: 0!important;
}
/* Testimonials */



.testimonial_slider_2 #slide_2_1:checked ~ .boo_inner { margin-left:0; }
.testimonial_slider_2 #slide_2_2:checked ~ .boo_inner { margin-left:-100%; }
.testimonial_slider_2 #slide_2_3:checked ~ .boo_inner { margin-left:-200%; }
.testimonial_slider_2 #slide_2_4:checked ~ .boo_inner { margin-left:-300%; }
.testimonial_slider_2 .boo_inner {
	width:400%;
	-webkit-transform: translateZ(0);
	-webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	-moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */

	-webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	-moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
}
 
 
   