#navbar:hover{
    background-color: rgba(255,255,255,0.6);
    transition: 0.4s; 
}  
#menuNav{
        margin-left: 15.5%;
}
@media only screen and (min-width:1920px){
  #menuNav{
    /* width: 100%; */
    text-align: center;
    margin: auto;
  }
  
}
#menuNav a:hover{
        color: green;
}
.hoverEffect:hover{
    filter: invert(30%) sepia(43%) saturate(1085%) hue-rotate(107deg) brightness(90%) contrast(103%);
    transition: 0.1s;

}
@media only screen and (max-width:1700px){
        #menuNav{
                margin-left: auto;
        }
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite;
}
/* hamburger navbar */
.hoverHamNav > li >a:hover{
    color: green;
}